// webové fonty
// doporučuji využít https://google-webfonts-helper.herokuapp.com/fonts
@font-face {
  font-family: 'Neue Montreal';
  font-weight: 300;
  font-style: italic;
  src:
    url('#{$fontPath}/NeueMontreal-LightItalic.woff2') format('woff2'),
    url('#{$fontPath}/NeueMontreal-LightItalic.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Neue Montreal';
  font-weight: bold;
  font-style: normal;
  src:
    url('#{$fontPath}/NeueMontreal-Bold.woff2') format('woff2'),
    url('#{$fontPath}/NeueMontreal-Bold.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Neue Montreal';
  font-weight: 300;
  font-style: normal;
  src:
    url('#{$fontPath}/NeueMontreal-Light.woff2') format('woff2'),
    url('#{$fontPath}/NeueMontreal-Light.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Neue Montreal';
  font-weight: normal;
  font-style: italic;
  src:
    url('#{$fontPath}/NeueMontreal-Italic.woff2') format('woff2'),
    url('#{$fontPath}/NeueMontreal-Italic.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Neue Montreal';
  font-weight: 500;
  font-style: normal;
  src:
    url('#{$fontPath}/NeueMontreal-Medium.woff2') format('woff2'),
    url('#{$fontPath}/NeueMontreal-Medium.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Neue Montreal';
  font-weight: bold;
  font-style: italic;
  src:
    url('#{$fontPath}/NeueMontreal-BoldItalic.woff2') format('woff2'),
    url('#{$fontPath}/NeueMontreal-BoldItalic.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Neue Montreal';
  font-weight: normal;
  font-style: normal;
  src:
    url('#{$fontPath}/NeueMontreal-Regular.woff2') format('woff2'),
    url('#{$fontPath}/NeueMontreal-Regular.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Neue Montreal';
  font-weight: 500;
  font-style: italic;
  src:
    url('#{$fontPath}/NeueMontreal-MediumItalic.woff2') format('woff2'),
    url('#{$fontPath}/NeueMontreal-MediumItalic.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'DM Sans';
  font-weight: 400;
  font-style: normal;
  src: url('#{$fontPath}/dm-sans-v11-latin-regular.eot');
  src: url('#{$fontPath}/dm-sans-v11-latin-regular.eot?#iefix') format('embedded-opentype'), url('#{$fontPath}/dm-sans-v11-latin-regular.woff2') format('woff2'), url('#{$fontPath}/dm-sans-v11-latin-regular.woff') format('woff'), url('#{$fontPath}/dm-sans-v11-latin-regular.ttf') format('truetype'), url('#{$fontPath}/dm-sans-v11-latin-regular.svg#DMSans') format('svg');
  font-display: swap;
}
@font-face {
  font-family: 'DM Sans';
  font-weight: 500;
  font-style: normal;
  src: url('#{$fontPath}/dm-sans-v11-latin-500.eot');
  src: url('#{$fontPath}/dm-sans-v11-latin-500.eot?#iefix') format('embedded-opentype'), url('#{$fontPath}/dm-sans-v11-latin-500.woff2') format('woff2'), url('#{$fontPath}/dm-sans-v11-latin-500.woff') format('woff'), url('#{$fontPath}/dm-sans-v11-latin-500.ttf') format('truetype'), url('#{$fontPath}/dm-sans-v11-latin-500.svg#DMSans') format('svg');
  font-display: swap;
}
@font-face {
  font-family: 'DM Mono';
  font-weight: 400;
  font-style: normal;
  src: url('#{$fontPath}/dm-mono-v10-latin-regular.eot');
  src: url('#{$fontPath}/dm-mono-v10-latin-regular.eot?#iefix') format('embedded-opentype'), url('#{$fontPath}/dm-mono-v10-latin-regular.woff2') format('woff2'), url('#{$fontPath}/dm-mono-v10-latin-regular.woff') format('woff'), url('#{$fontPath}/dm-mono-v10-latin-regular.ttf') format('truetype'), url('#{$fontPath}/dm-mono-v10-latin-regular.svg#DMMono') format('svg');
  font-display: swap;
}
