// hlavička
.header {
  z-index: $index_menu;
  padding: 20px;
  color: $color_main;
  @media (min-width: $mqsm) {
    padding: 30px 0;
  }
  @media (min-width: $mqxlg) {
    padding: 40px 0 16px;
  }
  .info {
    color: $color_main_light;
  }
}
.header--intro {
  margin-bottom: 60px;
  @media (min-width: $mqsm) {
    margin-bottom: 100px;
  }
  @media (min-width: $mqxlg) {
    margin-bottom: 160px;
  }
}
