.journal-section {
  margin-bottom: 90px;
  @media (min-width: $mqsm) {
    margin-bottom: 160px;
  }
  @media (min-width: $mqxlg) {
    margin-bottom: 364px;
  }
  &:last-child {
    margin-bottom: 0;
  }
}
.journal-section__title {
  position: relative;
  display: inline-block;
  margin-bottom: 32px;
  @media (min-width: $mqxlg) {
    margin-bottom: 56px;
  }
  svg {
    position: absolute;
    top: 20.8%;
    right: 2.25%;
    bottom: 43px;
    width: auto;
    height: 60%;
    @media (min-width: $mqxlg) {
      height: 188px;
    }
  }
}
.journal-section__slider {
  .slick-list {
    overflow: visible;
    margin: 0 -10px;
    @media (min-width: $mqxlg) {
      margin: 0 -20px;
    }
  }
  .slick-track {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-left: 10px;
    @media (min-width: $mqxs) {
      margin-left: 0;
    }
    @media (min-width: $mqxlg) {
      margin-left: 20px;
    }
  }
  .slick-slide {
    margin: 0 10px;
    @media (min-width: $mqxlg) {
      margin: 0 20px;
    }
  }
  .journal-item {
    width: calc(100vw - 3 * $layout_gap) !important;
    @media (min-width: $mqxs) {
      width: calc(50vw - 1 * $layout_gap) !important;
    }
    @media (min-width: $mqxlg) {
      width: 548px !important;
    }
  }
  .journal-item--hero {
    @media (min-width: $mqxlg) {
      width: 781px !important;
    }
  }
}
