.journal-item,
a.journal-item {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  text-decoration: none;
  transition: $transition;
  &:hover,
  &:focus {
    .view {
      visibility: visible;
      opacity: 1;
    }
  }
}
.journal-item--hero,
a.journal-item--hero {
  .journal-item__image {
    @media (min-width: $mqxlg) {
      aspect-ratio: 781/514;
    }
  }
  .journal-item__bottom {
    @media (min-width: $mqxlg) {
      margin-top: 27px;
    }
  }
  .journal-item__date {
    visibility: visible;
    opacity: 1;
  }
}
.journal-item__image {
  position: relative;
  width: 100%;

  aspect-ratio: 548/350;
  img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  .view {
    position: absolute;
    top: 50%;
    right: 17%;
    visibility: hidden;
    opacity: 0;
  }
}
.journal-item__bottom {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto;
  gap: 10px 20px;
  margin-top: 16px;
  .text {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    max-width: 453px;
    margin-bottom: 0;
  }
}
.journal-item__date {
  visibility: hidden;
  color: $color_main;
  font-size: 18px;
  line-height: calc(39/30);
  text-transform: uppercase;
  opacity: 0;
  transition: $transition;
  @media (min-width: $mqmd) {
    font-size: 30px;
  }
}
