// modální okna
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $index_modal;
  display: none;
  overflow: hidden;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

// vnitřní část modal okna
.modal__body {
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: auto;
  width: 100%;
  max-width: calc(100vw - 20px);
  max-height: calc(100vh - 20px);
  padding: 35px 15px;
  font-size: 14px;
  background-color: $color_white;
  transform: translate(-50%, -50%);
  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
  @media (min-width: $mqsm) {
    padding: 50px;
  }
  @media (min-width: $mqmd) {
    max-width: 760px;
  }
}

// zavírací tlačítko
.modal__close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: $index_base;
  width: 40px;
  height: 40px;
  text-align: center;
  cursor: pointer;
  @media (min-width: $mqsm) {
    width: 65px;
    height: 65px;
  }
  &:hover,
  &:focus {
    .icon {
      opacity: 0.8;
    }
  }
  .icon {
    width: 15px;
    margin-top: 13px;
    color: $color_black;
    @media (min-width: $mqsm) {
      width: 20px;
      margin-top: 23px;
    }
  }
}
