.portfolio {
  margin-bottom: 120px;
  @media (min-width: $mqxlg) {
    margin-bottom: 161px;
  }
}
.portfolio__title,
.title.portfolio__title {
  margin-bottom: 0;
  @media (min-width: $mqxs) and (max-width: $mqxlg - 1px) {
    position: absolute;
    top: 0;
    left: 0;
  }
}
.portfolio__grid {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 90px 60px;
  @media (min-width: $mqsm) {
    gap: 160px 60px;
  }
  @media (min-width: $mqxlg) {
    gap: 260px 60px;
  }
  @media (min-width: $mqxxl) {
    gap: 486px 60px;
  }
  .portfolio-item {
    @media (min-width: $mqxs) {
      width: calc(50% - 30px);
    }
  }
  .portfolio-item--text-left {
    @media (min-width: $mqxs) {
      width: 100%;
    }
    @media (min-width: $mqxlg) {
      max-width: 813px;
    }
  }
}
