.section {
  margin-bottom: 90px;
  @media (min-width: $mqsm) {
    margin-bottom: 120px;
  }
  @media (min-width: $mqxlg) {
    margin-bottom: 200px;
  }
  &:last-child {
    margin-bottom: 0;
  }
}
