.view,
a.view {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  color: $color_white;
  font-family: 'DM Mono', sans-serif;
  font-size: 14px;
  text-decoration: none;
  border-radius: 100%;
  background: $color_main_dark;
  transition: $transition;
  @media (min-width: $mqsm) {
    width: 95px;
    height: 95px;
    font-size: 16px;
  }
}
